* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: grey;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.form__box--number {
background-color:rgb(184, 182, 182);
border: none;
height: 25px;
width: 150px;
border-radius: 4px;
}
.form__field {
  border: solid 2px grey;
  width: 600px;
  margin: 5px 0px;
  padding: 2px;
}
.form__button {
  margin: 5px 0px;
  background-color: lightseagreen;
  border: none;
  padding: 3px;
  color: white;
  border-radius: 4px;
}



