/* body reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: grey;
  background-color: aquamarine;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.field {
  border: solid 1px grey;
}




/* main  structure  */
/* borders & background-color for further playing purposes */
